.category-container {
    margin-top : 30px;
}

.category-container span {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category-container-gallery {
    margin-top : 30px;
    display : flex;
    flex-wrap : wrap;
}